
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* -------------------------HEADER */
#main_header{
    display: flex;
    justify-content: space-between;
    padding: 3px 30px;
}
#img_header{
    align-self: center;
    width: 250px;
    height: 30px;
}

.main_nav-bar li{
    display: inline;
    list-style: none;
    padding: 0px 15px;
}

.main_nav-bar a{
    color: black;
    text-decoration: none;
}

/* -------------------------MAIN */
#main_section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    margin-top: 50px;
}
#main_section_header form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    box-sizing: border-box;
}

#main_section_header input[type="email"]{
    padding:3px;
}

#main_section_form_submit{
    width: 50%;
    margin: 10px auto;
    background: #f1c40f;;
    border: none;
    color: black;
    font-weight: bold;
    padding: 5px;
}
/* -------------------------MAIN CONTAINER SECTION FEATURES*/

.main_container{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#main_container_features{
    display: flex;
    flex-direction: column;
    
}

.main_container_grid{
    display: flex;
    
}

.main_container_grid .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
    
}

.desc{
    width: 100%;
}

.desc h2{
    margin-bottom: 0px;
}
.desc p{
    margin-top: 0px;
}
/* -------------------------MAIN CONTAINER SECTION HOW IT WORKS*/
#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#video{
    height: 305px;
    width: 70%;
}
/* -------------------------MAIN CONTAINER SECTION PRICING*/

#pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.level{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;

}

.product ol{
    list-style: none;
    margin: auto;
    padding: 0;
}

.product button{
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 2px;
}
/* -------------------------FOOTER*/
#footer{
    margin-top: 20px;
    background-color: #ddd;
    padding: 10px;
}

#footer ul{
    display: flex;
    justify-content: end;
    list-style: none;
}

#footer li{
    padding: 0 10px;
    
}

#footer li a{
    color: black;
    text-decoration: none;
}

#footer span{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}